# --- Directorios de Compilación (.NET) ---
[Bb]in/
[Oo]bj/

# --- Archivos de Usuario y Configuración Personal ---
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates
.env
.env.*
!.env.example
.npmrc

# --- Archivos de Configuración de la App (Secretos) ---
# Se recomienda no subir el appsettings con contraseñas reales
# appsettings.json
# appsettings.Development.json

# --- Paquetes y Dependencias ---
*.nupkg
appsettings.Local.json
appsettings.Production.json
appsettings.*.local.json
*.Development.local.json
.tools/
.pnpm-debug.log*

# --- Sistema Operativo ---
.DS_Store
Thumbs.db

# --- Carpetas de publicación ---
publish/
